
### General Config

d-i debian-installer/language string en
d-i debian-installer/country string US
d-i debian-installer/locale string en_US.UTF-8
d-i clock-setup/utc boolean true
d-i time/zone string US/Central

### Keyboard Config

d-i console-setup/ask_detect boolean false
d-i keyboard-configuration/xkb-keymap select us

### Network Config

d-i netcfg/choose_interface select auto
d-i netcfg/get_hostname string kali-cleanroom
d-i netcfg/get_domain string local.lan
d-i netcfg/hostname string kali-cleanroom

### Root Account Setup

# B.4.5 Account setup -  https://help.ubuntu.com/lts/installation-guide/armhf/apbs04.html
d-i passwd/root-login       boolean false
d-i passwd/root-password-crypted password {{ template_root_password_crypt }}
d-i user-setup/encrypt-home boolean false
d-i user-setup/allow-password-weak  boolean false
d-i passwd/make-user        boolean true
d-i passwd/username string packer
d-i passwd/user-password-crypted password {{ template_password_crypt }}
d-i passwd/user-fullname string

# d-i passwd/root-login boolean true
# d-i passwd/make_user boolean false
# d-i passwd/root-password password RootSuperSecureTemp!
# d-i passwd/root-password-again password RootSuperSecureTemp!
# d-i user-setup/encrypt-home boolean false

### Otto User Setup

# d-i passwd/make-user boolean true
# d-i passwd/user-fullname string Otto user
# d-i passwd/username string otto
# d-i passwd/user-password password OttoSuperSecureTemp!
# d-i passwd/user-password-again password OttoSuperSecureTemp!
# d-i user-setup/encrypt-home boolean false
# d-i user-setup/allow-password-weak boolean false
# d-i passwd/user-default-groups string audo cdrom video admin sudo

### Partitioning

d-i partman-auto/method string lvm
d-i partman-lvm/device_remove_lvm boolean true
d-i partman-md/device_remove_md boolean true
d-i partman-lvm/confirm boolean true
d-i partman-lvm/confirm_nooverwrite boolean true
d-i partman-auto-lvm/guided_size string max
d-i partman-auto/choose_recipe select atomic
d-i partman-partitioning/confirm_write_new_label boolean true
d-i partman/choose_partition select finish
d-i partman/confirm_nooverwrite boolean true

### Mirror Settings

d-i mirror/country string manual
d-i mirror/http/hostname string http.kali.org
d-i mirror/http/directory string /
d-i mirror/http/proxy string

### APT Setup

d-i apt-setup/use_mirror boolean true
d-i pkgsel/include string openssh-server sudo
d-i pkgsel/install-language-support boolean false
d-i pkgsel/update-policy select none
d-i pkgsel/upgrade select full-upgrade

### Bootloader

d-i grub-installer/only_debian boolean true
d-i grub-installer/password password GrubSecret!
d-i grub-installer/password-again password GrubSecret!
d-i grub-installer/bootdev string default

### Finishing Up

d-i preseed/late_command string \
    echo 'otto ALL=(ALL) NOPASSWD: ALL' > /target/etc/sudoers.d/otto ; \
    in-target chmod 440 /etc/sudoers.d/otto ; \
    in-target systemctl enable ssh.service ;
d-i finish-install/reboot_in_progress note
